.stats-section {
    text-align: center;
    padding: 70px 20px;
}

.stats-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

.stat-card {
    background: rgba(9,17,34,.95);
    padding: 40px 25px;
    border-radius: 28px;
    border: 1px solid rgba(255,255,255,.08);
    transition: .3s;
}

.stat-card:hover {
    transform: translateY(-8px);
}

.stat-card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 1rem;
}


.cta-big {
    text-align: center;
    padding: 80px 30px;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
        rgba(29,78,216,.25),
        rgba(109,40,217,.2)
    );
    border: 1px solid rgba(255,255,255,.08);
    margin-top: 60px;
}

.cta-big h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.cta-big p {
    max-width: 650px;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* .cta-big a {
    display: inline-block;
    padding: 15px 28px;
    border-radius: 999px;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #7c3aed, #2563eb);
    transition: .3s;
}

.cta-big a:hover {
    transform: translateY(-5px);
} */

.cta-big a{
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #1e315e;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.cta-big a:hover {
    background: #1d4ed8;
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(29, 78, 216, 0.3);
   
}


.services-about {
    padding: 60px 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.service-card {
    background: rgba(9, 17, 34, 0.95);
    border-radius: 28px;
    border: 1px solid rgba(255,255,255,.08);
    padding: 30px;
    transition: .3s;
    box-shadow: 0 15px 35px rgba(0,0,0,.25);
}

.service-card:hover {
    transform: translateY(-8px);
    border-color: rgba(59,130,246,.25);
    box-shadow: 0 20px 45px rgba(0,0,0,.35);
}

.service-icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.service-card h3 {
    color: white;
    margin-bottom: 10px;
}

.service-card span {
    display: block;
    color: #60a5fa;
    margin-bottom: 15px;
    font-weight: bold;
}

.service-card p {
    color: #9ca3af;
    line-height: 1.7;
}

.section-title-about {
    text-align: center;
}

/* Адаптив */
@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}